---
import ChatV from "../comp/chat.vue";
const huggingfacetoken = import.meta.env.HUGGINGFACE_TOKEN;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="globals" x-globals={JSON.stringify({ huggingfacetoken })}>
      <script>
        const attr = window.globals?.getAttribute("x-globals");
        try {
          const data = JSON.parse(attr);
          window.huggingfacetoken = data.huggingfacetoken;
        } catch (e) {}
      </script>
    </div>
    <ChatV huggingfacetoken={token} client:load />
  </body>
</html>
